<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" class="pd-10 ">
  
    <button  mat-mini-fab  style="background-color: green; height: 140px; width: 140px; margin-top: 40px;">
        <mat-icon class="material-symbols-outlined notranslate" style="transform: scale(4);"> <span class="material-icons">
            engineering
            </span> </mat-icon>
   </button>

<div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100" class="pd-10 mb-30 mt-40" >
    <span class="font fs-6" fxFlex="100" style="line-height: 1.2em; text-align: center;"> <b> Estamos trabajando!!</b> </span>        
    <span class="font fs-3" fxFlex="100" style="margin-top: 10px; text-align: center;"> Disculpa los inconvenientes </span>        
</div>

<div  fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="100" class="mb-20">

   <button mat-raised-button  [ngClass]="confirm ? 'btnMenuClicked':'btnMenu'" fxFlex="95" (click)="continue()">
      <i class="material-symbols-outlined notranslate" style="transform: scale(1.3);">login</i> 
      &nbsp; Continuar
  </button>
</div>




</div>
