<div fxLayout="row wrap" fxLayoutAlign="center space-between" style="padding: 10px;" >

    <div  fxLayout="row wrap"  fxLayoutAlign=" center" fxFlex="95" style="height: 60px; background-color: rgb(37, 150, 190); color: white; padding: 10px; box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75); -webkit-box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75);
    -moz-box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75);" class="mt-20 pd-10">
        <span fxLayout="row wrap" fxLayoutAlign="start center" class="font fs-6" fxFlex="55">Editar cliente</span>
    </div>
            
    <form  [formGroup]="myForm"  fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="95"  style="margin-top: 15px;">     
    
    
         <mat-form-field appearance="outline" fxFlex="48" class="mt-10 font fs-4" >		
             <mat-label>Nombre </mat-label>
             <input matInput type="text" required formControlName="nombre">
         </mat-form-field> 
         
         <mat-form-field appearance="outline" fxFlex="49" class="mt-10 font " >		
            <mat-label>Apellido </mat-label>
            <input matInput type="text" required formControlName="apellido" >
        </mat-form-field> 

        <mat-form-field appearance="outline" fxFlex="49" class="mt-10 font " >		
            <mat-label>Organización </mat-label>
            <input matInput type="text" required formControlName="organizacion" >
        </mat-form-field> 

        <mat-form-field appearance="outline" fxFlex="49" class="mt-10 font " >		
            <mat-label>Razón Social </mat-label>
            <input matInput type="text"  formControlName="razonSocial" >
        </mat-form-field> 

        <mat-form-field appearance="outline" floatLabel="always" fxFlex="49" class="mt-10 font ">
            <mat-label >Guardar Como</mat-label>
            <mat-select  formControlName="archivarComo" class="font" [value]="defaultValue" >
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let option of nameOptions" [value]="option" class="font fs-4"> {{option }}</mat-option>
                    </mat-select>
        </mat-form-field>
  
         <mat-form-field appearance="outline" fxFlex="49" class="mt-10 font " >		
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email1" >
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always" fxFlex="49" class="mt-10 font">
            <mat-label class="font fs-4">Tipo Doc.</mat-label>
            <mat-select  formControlName="idTipoDocumento" class="font" >
                        <mat-option *ngFor="let point of dniOption" [value]="point.idTipoDoc" class="font fs-4"> {{point.descripcion}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="49" class="mt-10 font" >		
            <mat-label>N° Documento</mat-label>
            <input matInput type="text" formControlName="nroDocumento" >
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always" fxFlex="49" class="mt-10 font">
            <mat-label class="font fs-4">Cond. de IVA</mat-label>
            <mat-select  formControlName="idCondicionIva" class="font" >
                        <mat-option *ngFor="let point of ivaOption" [value]="point.idCondicionIva" class="font fs-4"> {{point.descripcion}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="49" class="mt-10 font" >		
            <mat-label>Cuit </mat-label>
            <input matInput type="text" formControlName="cuit" >
        </mat-form-field>
        <!-- <mat-error *ngIf="myForm.get('cuit')?.hasError('invalidCuit')">Cuit inválido</mat-error> -->

        <mat-form-field appearance="outline" floatLabel="always" fxFlex="49" class="mt-10 font">
            <mat-label class="font fs-4">Lista de Precios</mat-label>
            <mat-select  formControlName="idListaPrecios" class="font" >
                        <mat-option *ngFor="let point of priceListOpt" [value]="point.id" class="font fs-4"> {{point.nombreLista}}</mat-option>
            </mat-select>
        </mat-form-field>    

    


        
        <div fxLayout="row wrap" fxLayoutAlign="space-between" fxFlex="100" >

            <mat-form-field appearance="outline" fxFlex="48" class="mt-10 font " >		
                <mat-label>Cod. Area</mat-label>
                <input matInput type="text"  formControlName="telefonoCodigoArea" >
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="48" class="mt-10 font " >		
                <mat-label>Numero</mat-label>
                <input matInput type="text"  formControlName="numeroLocal">
            </mat-form-field>
            <!-- <mat-error  *ngIf ="validField ('phone')" class="font  mb-10">{{validatePhone}}</mat-error>  -->
        </div>

        <mat-form-field appearance="outline" fxFlex="48" class="mt-10 font " >		
            <mat-label>Domicilio</mat-label>
            <input matInput type="text" formControlName="domicilio">
        </mat-form-field> 
        <!-- <mat-error  *ngIf ="validField ('address')" class="font  mb-10">Campo requerido</mat-error>  -->

        <mat-form-field appearance="outline" fxFlex="49" class="mt-10 font " >		
            <mat-label>Localidad</mat-label>
            <input matInput type="text" formControlName="localidad">
        </mat-form-field> 

        <mat-form-field appearance="outline" fxFlex="48" class="mt-10 font " >		
            <mat-label>Cod. Postal</mat-label>
            <input matInput type="text" formControlName="codigoPostal">
        </mat-form-field> 

        <mat-form-field appearance="outline" fxFlex="49" class="mt-10 font " >		
            <mat-label>Provincia</mat-label>
            <input matInput type="text" formControlName="codigoPostal">
        </mat-form-field> 

        <mat-form-field appearance="outline" fxFlex="49" class="mt-10 font " >		
            <mat-label>Pais</mat-label>
            <input matInput type="text" formControlName="codigoPostal">
        </mat-form-field> 
   </form>

    <!-- save button -->
    <div  fxLayout="row wrap"  fxLayoutAlign="space-between center" fxFlex="95" >
        <button mat-raised-button  [ngClass]="!save ? 'btnMenuClicked':'btnMenu'" fxFlex="48" (click)="closeComponent()" >
            <i class="material-symbols-outlined notranslate"  >redo</i> 
            &nbsp;Cancelar
        </button>
        <button mat-raised-button  [ngClass]="save ? 'btnMenuClicked':'btnMenu'" fxFlex="48" (click)="onSaveForm()">
            <i class="material-symbols-outlined notranslate">login</i> 
            &nbsp; Guardar
        </button>
    </div>
    <!-- end save button -->

</div>

<div *ngIf="isLoading" style="margin-top: 30px;" class="loading-overlay">
    <mat-spinner diameter="80"></mat-spinner>
  </div>
  

  
