

<div  fxLayout="row wrap"  fxLayoutAlign="center start" fxFlex="100" (scroll)="onScroll($event)" class="scroll" style="background-color: rgb(233, 233, 233)">
    
  <div  fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex.xs="98" fxFlex.sm="95" fxFlex="75" >

      <div  style=" align-items: center; display: flex; justify-content: start center; height: 50px; width: 100%; margin-top: 40px;" >


              <form  [formGroup]="myForm" autocomplete="off" style="height: 50px;" > 
                  <mat-form-field  appearance="outline" class="font "  >
                      <input type="text" matInput  placeholder="Search project"  name="itemSearch" formControlName="itemSearch"  >
                      <mat-icon matSuffix style="transform:scale(1.5); color: rgb(37, 150, 190); margin-right: 10px;" >search</mat-icon>
                  </mat-form-field>
              </form>


          <div fxLayout="row wrap"  fxLayoutAlign="start start" fxFlex="40" style="margin-left: 20px;">
              <div fxLayout="row wrap"  fxLayoutAlign="center center"  style=" background-color: rgb(37, 150, 190); border-radius: 7px; height: 50px; padding: 15px; margin-top: 9px; cursor: pointer;"  class="whiteframe" routerLink="../create-project" >
                  <span class="material-symbols-outlined notranslate" style="color: white; transform: scale(1);" > add </span> &nbsp;  &nbsp;
                  <span class="font" style="color: white;"> Create Project</span>
              </div>
          </div>  
      </div>  

      <!-- start no items -->
      <div fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="100" *ngIf="noMatches">
          
          <div fxLayout="row wrap" fxLayoutAlign="space-betweencenter"  class="fs-4 whiteframe notFound" >
             <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="90"   >
                <span class="material-icons" style="color: white;"> error </span>
                <span class="font " style="color: white; text-align: center; margin-left: 20px; font-size: 1em;">Project not found...</span>
              </div>
              <span class="material-icons" style="color: white; text-align: end; transform: scale(0.8); cursor: pointer;" (click)="closeNoMatch()"> close </span>
          </div>
      </div>
      <!-- end no items -->


      <!-- start suggested    -->
      <div fxLayout="row wrap"  fxLayoutAlign.xs="start center" fxLayoutAlign="center center"  fxFlex="100" *ngIf="mostrarSugerencias" style="margin-top: 20px;" >
              
          <div fxLayout="row wrap"  fxLayoutAlign="center center"  fxFlex="100" *ngIf="spinner" style="margin-top: 30px;">
              <mat-spinner diameter="48"></mat-spinner>
          </div>
                      
          <div fxLayout="row wrap"  fxLayoutAlign.xs="start center"  fxLayoutAlign="center center" fxFlex="100" class="font" style="margin-top: 3px;"  *ngFor="let item of suggested" >

              <div fxLayout="row wrap" fxLayoutAlign="space-between center"  fxFlex="100"  class="fs-4 boxSelection" >
                 <div fxLayout="row wrap" fxLayoutAlign="start center"  fxFlex="90"   >
                    <mat-radio-button class="example-margin" (click)="Search(item)"></mat-radio-button>
                    <span  style="cursor: pointer; text-align: start; margin-left: 15px; font-size: 0.8em;" fxFlex="80">{{ item.client.company_name | capitalizeFirstLetter}}</span>
                 </div>  
                 <div fxLayout="row wrap" fxLayoutAlign="end center"  fxFlex="10" >
                      <span class="material-symbols-outlined notranslate" style="transform: scale(1); color: rgb(37, 150, 190); margin-left: 0px;" [ngClass]="item.client.previous_projects.length != 0 ? 'material-icons' : 'material-symbols-outlined notranslate'" >work</span> 
                  </div>    
              </div>   

          </div>
      </div>
      <!-- end suggested    -->

      <!-- start result search cards -->
      <div  fxLayout="row wrap"  fxLayoutAlign="center start"  fxFlex="100" style="margin-top: 40px;" *ngIf="isProjectFound">

          <div fxLayout="row wrap"  fxLayoutAlign="space-between center" style="margin-bottom: 30px;  padding: 10px; background-color: white;" fxFlex="100" class="whiteframe" >

      
              <div fxLayout="row wrap"  fxLayoutAlign="space-between center"  fxFlex="100" style="margin-top: 20px; padding: 10px;">

                  <div fxLayout="row wrap"  fxLayoutAlign="start center"  fxFlex="100" >
                      <span class="material-symbols-outlined notranslate" style=" transform: scale(1.3);color: rgb(135, 135, 135); "> person </span> &nbsp; &nbsp;&nbsp;
                 
                      <div style="display: flex; align-items: start; justify-content: center;" class="font" >

                        <span [ngStyle]="phone ? {'font-size':'0.9em'}:{'font-size':'1.2em'}"> {{projectFound.client.company_name | capitalizeFirstLetter }} </span> &nbsp; 
                          <span  [ngStyle]="phone ? {'font-size':'0.7em'}:{'font-size':'1em'}" style="color: gray;" > ({{projectFound.project_scope.name | capitalizeFirstLetter }}) </span>
                        
                      </div>    
                  </div>

                  <!-- <div fxLayout="row wrap"  fxLayoutAlign="end center" fxLayoutAlign.xs="start center" fxFlex.xs="100" fxFlex="50" style="margin-top: 20px;" class="font"> -->
                      <!-- <span class="material-symbols-outlined notranslate" style=" transform: scale(1.3);color: rgb(135, 135, 135); "> schedule </span> &nbsp; &nbsp;&nbsp; -->
                     <!-- <span  [ngStyle]="phone ? {'font-size':'0.7em'}:{'font-size':'1em'}"> {{projectFound.createdAt}} </span> -->
                   <!-- </div> -->

                   <div fxLayout="row wrap"  fxLayoutAlign="start center" fxFlex.xs="100" fxFlex="50" style="margin-top: 20px;">

                    <span class="font" style="font-size: 1.8em;"> I'm still working on this content.. </span>
                       <!-- <span class="material-symbols-outlined notranslate" style=" transform: scale(1.5);color: rgb(135, 135, 135);"> factory </span> &nbsp; &nbsp;&nbsp;
                      <span style="font-size: 1.1em;  font-family: poppins-light;"> {{projectFound.industry_type| capitalizeFirstLetter }} </span> -->
                    </div>
                
              </div>

              
              <div fxLayout="row wrap" fxLayoutAlign="end center" fxFlex="100" style="margin-top: 18px;">
                  <div class="icon mr-10" (click)="deleteClient(projectFound)" >
                      <span class="material-symbols-outlined notranslate cursor" style="color: red;"> delete </span>
                  </div>
                  
                  <div class="icon mr-10"  (click)="editProject(projectFound)">
                      <span class="material-symbols-outlined notranslate cursor" style="color: rgb(255, 176, 57);"> edit </span>
                  </div>

                  <div class="icon"  (click)="close()" style="margin-right: 10px;">
                      <span class="material-symbols-outlined notranslate cursor" > close </span>
                  </div>
              </div>
              
          </div>
      
      </div>
      <!-- end result search cards -->

      <!-- start table -->
        <div class="example-container mat-elevation-z8 font" style="background-color: white; border-radius: 10px; margin-top: 40px;">
          <table mat-table [dataSource]="dataTableActive"  >
          
                      
                  <!-- Name Column -->
                  <ng-container matColumnDef="client" sticky >
                      <th mat-header-cell *matHeaderCellDef > Client </th>
                      <td mat-cell *matCellDef="let element" style="cursor: pointer;" class="name" [routerLink]="['../view-project/',element._id ]"> {{element.client.company_name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="projectName"  >
                      <th mat-header-cell *matHeaderCellDef > Project name </th>
                      <td mat-cell *matCellDef="let element"  > <span style="text-align: start;">  {{element.project_scope.name}} </span> </td>
                  </ng-container>

          
                  <!-- Comment Column -->
                  <ng-container matColumnDef="state" >
                      <th mat-header-cell *matHeaderCellDef> State</th>
                      <td mat-cell *matCellDef="let element" > <span style="text-align: start;"> {{element.state}} </span> </td>
                  </ng-container>

                  <!-- <ng-container matColumnDef="projects" >
                      <th mat-header-cell *matHeaderCellDef> Projects</th>
                      <td mat-cell *matCellDef="let element"  > 
                              <ul style="padding-left: 10px">
                                <li *ngFor="let project of element.previous_projects" style="cursor: pointer; color: blue; margin-left: 0px !important;" (click)="viewProject(project)">
                                  {{ project.project_scope.name }}
                                </li>
                              </ul>
                       </td>
                  </ng-container> -->
                  
                  <!-- img Column -->
                  <ng-container matColumnDef="action"  >
                      <th mat-header-cell *matHeaderCellDef >Action</th>
                      <td mat-cell *matCellDef="let element" > 
                          <div style="display: flex; justify-content:center; " >
                                  <div class="icon" (click)="editProject(element)">
                                      <span class="material-symbols-outlined notranslate cursor" style="color: rgb(255, 176, 57);"> edit </span>
                                  </div>
                                  <div class="icon" (click)="deleteClient(element)" style="margin-left: 3px;">
                                      <span class="material-symbols-outlined notranslate cursor" style="color: red;"> delete </span>
                                  </div>
                          </div>

                         
                  </td>
             
                  </ng-container>


                  <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>




        </div> 
      <!-- end table -->

     </div> 
  

<div *ngIf="isLoading" class="loading-overlay">
  <mat-spinner diameter="80"></mat-spinner>
</div>

