

<div  fxLayout="row wrap"  fxLayoutAlign="center start" style="background-color: rgb(233, 233, 233); height: 100vh;">
    
    <div  fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex.xs="98" fxFlex.sm="95" fxFlex="75" >

          <mat-stepper [linear]="isLinear" #stepper style="width: 100%; height: 100vh; margin-top: 40px;">

            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel > <span class="font">Select Client</span></ng-template>
              
                <div  style="margin-top: 40px;  width: 100%; " >
                  <app-search-client fxFlex="100" ></app-search-client>
                </div>
              
                <div>

                  <button mat-button matStepperNext class="font" style="margin-top: 40px;">Next</button>
                </div>
              </form>
            </mat-step>

            
            <mat-step [stepControl]="secondFormGroup"  >
              <ng-template matStepLabel > <span class="font">Project Scope</span></ng-template>


              <form [formGroup]="secondFormGroup" fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="100" style="margin-top: 30px; border: 1px solid rgb(197, 197, 197); border-radius: 10px; padding: 10px;">
             
                    <span class="font" fxFlex="100" style="margin-top: 20px; font-size: 1.7em; text-align: start; font-weight: bold; line-height:30px;"> Project Scope</span>        
                      
                        <mat-form-field appearance="outline"  fxFlex="49" class="mt-20 font" >		
                            <mat-label>Project´s name</mat-label>
                            <input matInput type="text" required formControlName="name">
                        </mat-form-field> 

                        <mat-form-field appearance="outline"  fxFlex="100" class="mt-10 font" >
                          <mat-label>Description</mat-label>
                          <textarea matInput style="height: 80px;"></textarea>
                        </mat-form-field>

                <span class="font" fxFlex="100" style="margin-top: 20px; font-size: 1.5em; text-align: start; font-weight: bold; line-height:30px;"> Main features</span>   
        
                <mat-form-field appearance="outline" fxFlex="100" class="fs-4" style="margin-top: 30px;">
                  <mat-label> add feature</mat-label>
                    <input matInput type="text" formControlName="features" (keyup.enter)="onEnterKey($event)">
                </mat-form-field>
                   
                  
                  <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="100" class="font boxSelection" *ngFor="let feature of arrFeatures" style="margin-top: 6px;">

                  
                    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="90" >
                      <span class="material-symbols-outlined notranslate cursor" style="color: green;"> done </span> &nbsp;
                      <span class="feature-text">{{ feature }}</span>
                    </div>
                    <div fxLayout="row wrap" fxLayoutAlign="end center" fxFlex="10">
                      <span class="material-symbols-outlined notranslate cursor" style="color: red;" (click)="delFeature(feature)"> highlight_off </span>
                    </div>
                  </div>

                  <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100" style="margin-top: 20px;" >

                      <span class="font" style=" font-size: 1.5em; text-align: start; font-weight: bold; line-height:30px;" > Select Related skills</span>   

                      <div class="font" style="border: 1px solid; border-radius: 7px; width: 80px; height: 30px; color: white; margin-left:20px;background-color:  rgb(37, 150, 190); text-align: center; display: flex; justify-content: center; align-items: center; cursor: pointer;     box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
                      -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
                      -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);" (click)="openDialogSkills()">Go</div>
                  </div>
               
                      </form>
                      <div>
                          <button mat-button matStepperPrevious > <span class="font"> Back  </span></button>
                          <button mat-button matStepperNext>  <span class="font"> Next  </span></button>
                      </div>
            </mat-step>


            <mat-step>
              <ng-template matStepLabel > <span class="font">Asign Employee</span></ng-template>

              <div  style="margin-top: 40px;  width: 100%; " >
                <app-search-employee fxFlex="100" ></app-search-employee>
              </div>
              <div  style="margin-top: 40px;  width: 100%; " >

              <span class="font" style="font-size: 1.1em; text-align: start; margin-top: 150px; cursor: pointer;" (click)="suggestEmployeeBySkill()">Suggest Employee by skill</span>
              </div>
              <div>
                <button mat-button matStepperPrevious > <span class="font"> Back  </span></button>
                <button mat-button matStepperNext>  <span class="font"> Next  </span></button>
                <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
              </div>
            </mat-step>
          </mat-stepper>
          
             </div>
          


        
 
       </div> 
    
  
 <div *ngIf="isLoading" class="loading-overlay">
    <mat-spinner diameter="80"></mat-spinner>
</div>

