<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" class="pd-10 ">
  
    
    <button  mat-mini-fab  style="height: 80px; width: 80px; margin-top: 20px; background-color: red;">
        <mat-icon class="material-symbols-outlined notranslate" style="transform: scale(1.8);"> warning </mat-icon>
   </button>

<div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100" class="pd-10  mt-40" >
    <span class="font " fxFlex="100" style="line-height: 1.2em; text-align: center; font-size: 1.3em;"> <b> {{msg}}</b> </span>        
    <!-- <span class="font fs-3" fxFlex="100" style="margin-top: 10px; text-align: center;"> {{msg}}  </span>         -->
</div>

<div  fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="100" style="margin-top: 10px;">

      
    <div  fxLayout="row wrap"  fxLayoutAlign="space-between center" fxFlex="80" style="margin-top: 20px;">
        <button mat-raised-button  [ngClass]="!confirm ? 'btnMenuClicked':'btnMenu'"  fxFlex="48" (click)="close()">
             No
            </button>
        <button mat-raised-button  [ngClass]="confirm ? 'btnMenuClicked':'btnMenu'" fxFlex="48" (click)="continue()" style="font-size: 0.9em;">
        <i class="material-symbols-outlined notranslate" style="transform: scale(1.3);">login</i> 
        &nbsp; Continue anyway
        </button>
    </div>
  
</div>

</div>
