

<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" style="padding: 20px;">

    <div fxLayout="row wrap"  fxLayoutAlign="end center" fxFlex="100"  class="mt-10">
      <span class="material-symbols-outlined notranslate cursor" (click)="close()" style="transform: scale(1.3); ">close</span> 
    </div>  
  
      <span class="font" fxFlex="100" style="margin-top: 20px; font-size: 1.6em; text-align: start; font-weight: bold; line-height:30px;"> Select the Employee's IT Area</span>    

       <!-- start categories -->
        <div fxLayout="row wrap" fxLayoutAlign="sstart center" fxFlex.xs="100" style="margin-top: 9px; ">
        
            <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="100" >

                <div fxLayout="row wrap"  fxLayoutAlign="space-between center"  fxFlex="100" style="margin-top: 20px; margin-left: 5px;">
                    <button mat-raised-button class="font" [ngStyle]="phone ? {'font-size':'0.8em'} : {'font-size':'1em'}" style=" margin-top: 20px; height: 50px;" *ngFor="let cat of categories" (click)="selectCategory(cat)">{{cat.name}}</button>
                    <button mat-raised-button class="font" style="font-size: 0.9em; margin-top: 20px; width: 130px; visibility: hidden;" >fill</button>
                </div>
           </div>    
        </div>   
        <!-- end categories  -->
      
        <span class="font" fxFlex="100" style="margin-top: 40px; font-size: 1.6em; text-align: start; font-weight: bold; line-height:30px;"> Select skills related</span>    
       <!-- start skills -->
       <div fxLayout="row wrap"  fxLayoutAlign="start center"  fxFlex="100" style="margin-top: 40px; margin-bottom: 20px;" >

        <div fxLayout="row wrap"  fxLayoutAlign="space-between center" fxFlex.xs="50" *ngFor="let skill of skills">

            <!-- skill btn   -->
            <div fxLayout="row wrap"  fxLayoutAlign="start center"  fxFlex="100" style="margin-top: 9px; margin-left: 5px;" >
         
                <div [ngClass]="(skill === selectedSkill) ? 'leftSizeSkillRed' : 'leftSizeSkill' "   ></div>

                <div [ngClass]="(skill === selectedSkill) ? 'centerSizeSkillRed' : 'centerSizeSkill' " 
                class="font cursor" (click)="selectSkill(skill)">
                    <span> {{ skill }} </span>
                </div>
                
                <div [ngClass]="(skill === selectedSkill) ? 'rigthSizeSkillRed' : 'rigthSizeSkill' " ></div>
                
                <span class="material-symbols-outlined notranslate cursor" style="color: red; margin-top: 0px;"  *ngIf="selSkill"> highlight_off </span>
            </div>        
        </div>        
       </div>    
      <!-- end categories -->

 

      <form  [formGroup]="myForm"  fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="100" style="margin-top: 30px;">     
          <mat-form-field  appearance="outline" class="font " fxFlex="100"  >
            <input type="text" matInput  placeholder="Select a different professional skill"  name="itemSearch" formControlName="itemSearch" autocomplete="off" >
            <mat-icon matSuffix style="transform:scale(1.5); color: rgb(37, 150, 190); margin-right: 10px;" *>search</mat-icon>
            <!-- <mat-icon matSuffix style="transform:scale(1.5); color: rgb(37, 150, 190); margin-right: 10px;" *ngIf="!isSkillFound">search</mat-icon> -->
            <mat-icon matSuffix class="material-symbols-outlined notranslate" style="transform:scale(1); cursor: pointer; margin-right: 10px;"  >close</mat-icon>
            <!-- <mat-icon matSuffix class="material-symbols-outlined notranslate" style="transform:scale(1); cursor: pointer; margin-right: 10px;" *ngIf="isSkillFound" (click)="delSelectedSkill()" >close</mat-icon> -->
        </mat-form-field>
        <!-- <mat-error class="font" *ngIf="errorLabel"> Skill already exist in employee</mat-error> -->
          
      </form>
     
     
  </div>
  
  <div *ngIf="isLoading" style="margin-top: 30px;" class="loading-overlay">
    <mat-spinner diameter="80"></mat-spinner>
  </div>
  
    
  

