

<div fxLayout="row wrap" fxLayoutAlign="center start">
  
  
  <div  fxLayout="row wrap"  fxLayoutAlign="start center" fxFlex="100" style="height: 60px; background-color: rgb(37, 150, 190); color: white; padding: 10px; box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75); -webkit-box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75);
    -moz-box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75);" >
        
        <div fxLayout="row wrap"  fxLayoutAlign="start center" fxFlex="100" style="margin-top: 5px;">
          <!-- <span class="material-symbols-outlined notranslate cursor" >arrow_back_ios</span> -->
          <span class="font fs-6 ml-10" fxFlex="90">Login</span>
        </div>
        
  </div>

            
  <form  [formGroup]="myForm"  fxLayout="row wrap" fxLayoutAlign="center center" fxFlex.xs="90" fxFlex.sm="60" fxFlex="30" style="  margin-top: calc(100vh - 85vh);   background-color: white;" class="whiteframe">     
      
    <mat-form-field appearance="outline"  fxFlex="90" class="mt-10 font " >		
        <mat-label>User</mat-label>
        <input matInput type="email" required formControlName="user">
    </mat-form-field> 
    <mat-error *ngIf ="validField ('user')" fxLayoutAlign="start" fxFlex="85" class="font fs-4 mb-10"> Required </mat-error> 


    <mat-form-field appearance="outline" fxFlex="90" class="mt-20 font ">		
      <mat-label>Password</mat-label>
      <input matInput [type]="passwordVisible ? 'text' : 'password'"  required formControlName="password"  >
      <button mat-icon-button  (click)="togglePasswordVisibility('password')" >
        <mat-icon>{{ passwordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
    </mat-form-field> 

    <mat-error *ngIf="validField('password')" fxLayoutAlign="start" fxFlex="85" class="font fs-4 mb-10">
      Required
    </mat-error>
      
    
      <div fxLayout="row wrap" fxLayoutAlign="center"  fxFlex="90">
          <div fxLayout="row wrap" fxLayoutAlign="start" fxFlex="100" >
              <mat-label  class="font " style="margin-right:0px;"> Remember me</mat-label> &nbsp;
              <mat-slide-toggle formControlName="toLStorage" [checked]="true" ></mat-slide-toggle>
          </div>
      </div>

        <div fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="100"  *ngIf="showLabelInvalidCredential" >
        
          <div fxLayout="row wrap" fxLayoutAlign="start center"  fxFlex="90"  class="whiteframe " style="border-radius: 10px; padding: 15px; color: white; background-color: black; margin-bottom: 20px; margin-top: 30px; height: 60px; border-left: 10px solid red; box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
          -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);">
              <span class="material-icons" style="color: white;"> error </span>
              <span class="font fs-3" style="color: white; text-align: center; margin-left: 20px;">Incorrect credentials</span>
          </div>
      </div>


      
      <button type="button" fxLayout="row wrap" fxLayoutAlign="center center" [ngClass]="confirm ? 'btnMenuClicked':'btnMenu'" style="margin-top: 80px; margin-bottom: 40px;" fxFlex="90"  (click)="onSaveForm()">  Sign In
      </button>

  </form>

    
  
</div>
  
  <div *ngIf="isLoading" class="loading-overlay">
    <mat-spinner diameter="80"></mat-spinner>
  </div>
