
.scroll{
    height: 100vh;
    overflow: auto;
    display: block;
  }
  
  
  .mainIcon{
    width: 40px;
    height: 40px;
    border-radius:50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: red;
  
    box-shadow: 0px 1px 8px 0px rgba(145,145,145,0.75);
    -webkit-box-shadow: 0px 1px 8px 0px rgba(145,145,145,0.75);
    -moz-box-shadow: 0px 1px 8px 0px rgba(145,145,145,0.75);
  
    .material-symbols-outlined {
      transform: scale(1);
      color: white;
      transition: all 0.3s ease 0s;
    }
  
  
  }
  .textMainIcon{
    font-size: 1.3em;
    margin-top: 10px;
    font-family: 'poppins-light'; 
  }
  
  
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white !important;
    background-color: white;
    border-radius: 7px;
    padding: 7px;
    
    box-shadow: 0px 1px 9px -2px rgba(175, 175, 175, 0.85);
    -webkit-box-shadow: 0px 1px 9px -2px rgba(175, 175, 175, 0.85);
    -moz-box-shadow: 0px 1px 9px -2px rgba(175, 175, 175, 0.85);
  
  }
  
  
  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgb(37, 150, 190);

  }
  
  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
    color: rgb(37, 150, 190);
    
  }
  
  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    color: rgb(37, 150, 190)!important;
  }
  
  ::ng-deep .mat-slide-toggle.mat-disabled .mat-slide-toggle-bar {
    color: rgb(37, 150, 190) !important;
  }
  
  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    color: rgb(37, 150, 190) !important;
  }

  
  
  .example-container {
    width: 100%;
    height: calc(100vh - 300px);
    overflow: auto;
    font-family: 'poppins-light'; 
    
  }
  
  td{
    font-size: 0.7em;
  }
  
  
  table {
    font-family: 'poppins-light'; 
    width: 100%;
  }
  
 .mat-column-name{
    width: 30%;
    text-align: start;

 }

 .mat-column-email {
  width: 25%;
  padding-left: 5px;

 }

 th.mat-column-industry, td.mat-column-industry {
  width: 25%;
  padding-left: 5px;

 }

 .mat-column-projects {
  width: 25%;
  text-align: start;
 }
  
  .mat-column-action {
     width: 25%;
     text-align: center;
     padding: 10px;
  }
  

  
  .non-class{
  opacity: 0;
  }
  
  .boxSelection{
  
    padding: 15px;
    border-radius: 1px;
    
    box-shadow: 0px 1px 9px -2px rgba(175, 175, 175, 0.85);
    -webkit-box-shadow: 0px 1px 9px -2px rgba(175, 175, 175, 0.85);
    -moz-box-shadow: 0px 1px 9px -2px rgba(175, 175, 175, 0.85);
  
  }
  
  @media only screen and (max-width: 574px) {
  
    .mainIcon{
        width: 40px;
        height: 40px;
        border-radius:50%;
        border: 0px solid rgb(188, 210, 202);
        background-color: red;
        transition: all 0.3s ease 0s;
    
          .material-symbols-outlined {
            transform: scale(1.5);
            color: white;
            transition: all 0.3s ease 0s;
          }
    }
        
    .mainIcon:hover{
          transform: scale(1.01);
          transition: all 0.2s ease 0s;
          // background-color: white;
    
          .material-symbols-outlined {
            transform: scale(1.5);
            color: white;
            transition: all 0.3s ease 0s;
          }
    }
    
    .icon{
          width: 25px;
          height: 25px;
    
          .material-symbols-outlined{
            transform: scale(0.6);
          }
    }
          
    td{
      font-size: 0.7em;
    }
    
    
    .textMainIcon{
      font-size: 1em;
      margin-top: 10px;
      font-family: 'poppins-light'; 
    }

    table {
      width: 180%;
    }
    
    
    
    }
    
  
  //Extra small devices (phones, 600px and down) */
  @media only screen and (min-width: 800px) {
  
  .mainIcon{
      width: 40px;
      height: 40px;
      border-radius:50%;
      border: 0px solid rgb(188, 210, 202);
      background-color: red;
      transition: all 0.3s ease 0s;
  
        .material-symbols-outlined {
          transform: scale(1);
          color: white;
          transition: all 0.3s ease 0s;
        }
  }
      
  .mainIcon:hover{
        transform: scale(1.01);
        transition: all 0.2s ease 0s;
        // background-color: white;
  
        .material-symbols-outlined {
          transform: scale(1.1);
          color: white;
          transition: all 0.3s ease 0s;
        }
  }
  
  .icon{
        width: 38px;
        height: 38px;
  
        .material-symbols-outlined{
          transform: scale(1);
        }
  }
        
  td{
    font-size: 1em;
  }
  
  .textMainIcon{
    font-size: 1em;
    margin-top: 10px;
    font-family: 'poppins-light'; 
  }
  
  
  
  }
  