<!-- <app-start *ngIf="!disabled"></app-start> -->

    <!-- <div class="page-wrapper" *ngIf="disabled"> -->
      <div class="page-wrapper">

        <div class="sticky-header"> 

          
      
          <app-header *ngIf="!(router.url === '/home' || router.url === '/start' || router.url === '/register' || router.url === '/login')" [url] = "currentUrl" [logeado]="login"></app-header>
        
        </div> 
        <!-- <div class="content-wrapper" [ngStyle]="(scroll) ? {'overflow-y': 'auto'} : {'overflow-y': 'hidden'} " > -->
        <div class="content-wrapper">
        
            <div class="content">
              <router-outlet> </router-outlet> 
            </div>
            
            <div class="footer">
              <app-footer *ngIf="(router.url === '/seleccionar-servidor') && phone"></app-footer>
          
            
          </div> 

       
       
        </div>
        <div *ngIf="isLoading" style="margin-top: 30px;" class="loading-overlay">
          <mat-spinner diameter="80"></mat-spinner>
        </div>
        
          