
<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" style="padding: 20px;">

    <div fxLayout="row wrap"  fxLayoutAlign="end center" fxFlex="100"  class="mt-20">
      <span class="material-symbols-outlined notranslate cursor" (click)="close()" style="transform: scale(1.3); margin-right: 20px;">close</span> 
    </div>  
  
      <span class="font" fxFlex="100" style="margin-top: 20px; font-size: 1.7em; text-align: start; font-weight: bold; line-height:30px;"> Edit contact info</span>        
    
     
      <form  [formGroup]="myForm"  fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="100" style="margin-top: 30px; border: 1px solid rgb(197, 197, 197); border-radius: 10px; padding: 10px;">     
        
          <mat-form-field appearance="outline"  fxFlex="49" class="mt-10 font " >		
              <mat-label>Street</mat-label>
              <input matInput type="text" required formControlName="street">
          </mat-form-field> 
      
  
          <mat-form-field appearance="outline"  fxFlex="49" class="mt-10 font " >		
            <mat-label>City</mat-label>
            <input matInput type="text" required formControlName="city">
          </mat-form-field> 

          <mat-form-field appearance="outline"  fxFlex="31" class="mt-10 font " >		
            <mat-label>State</mat-label>
            <input matInput type="text" required formControlName="state">
          </mat-form-field> 
        
          <mat-form-field appearance="outline"  fxFlex="31" class="mt-10 font " >		
            <mat-label>Country</mat-label>
            <input matInput type="text" required formControlName="country">
           </mat-form-field> 

          <mat-form-field appearance="outline"  fxFlex="31" class="mt-10 font " >		
            <mat-label>Postal Code</mat-label>
            <input matInput type="text" required formControlName="postal_code">
          </mat-form-field> 
 
            <mat-form-field appearance="outline"  fxFlex="49" class="mt-10 font " >		
                <mat-label>Email</mat-label>
                <input matInput type="email" required formControlName="email">
            </mat-form-field> 
            
            <mat-form-field appearance="outline"  fxFlex="49" class="mt-10 font " >		
              <mat-label>Phone number</mat-label>
              <input matInput type="text" required formControlName="phone">
            </mat-form-field> 
            
            <mat-error  fxLayout="row wrap" fxLayoutAlign="start center"*ngIf ="validField ('email')" style="font-size: 0.9em;" class="font "> Required / Invalid email format </mat-error> 

          <button type="button" fxLayout="row wrap" fxLayoutAlign="center center" [ngClass]="confirm ? 'btnMenuClicked':'btnMenu'" style="margin-top: 30px; margin-bottom: 10px;" fxFlex="100"  (click)="onSaveForm()">  Save
          </button>
      
        </form>
  
  </div>
  
  <div *ngIf="isLoading" style="margin-top: 30px;" class="loading-overlay">
    <mat-spinner diameter="80"></mat-spinner>
  </div>
  
    
  