    <div  fxLayout="row wrap"  fxLayoutAlign="space-around center"  class="header" fxFlex="100">
       
        <div fxLayout="row wrap"  fxLayoutAlign="start center" fxFlex="40" style="margin-top: 5px;" (click)="navigate()" >
                <span class="material-symbols-outlined notranslate cursor" >arrow_back_ios</span>
                <span class="font cursor fs-5" fxFlex="80">{{labelHeader}}</span>
        </div>

        <div fxLayout="row wrap"  fxLayoutAlign="center center"  fxFlex="60"  >
       
        
            <mat-menu #menu="matMenu" xPosition="after"   >
            
                            
                <div fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex.xs="90" style="margin-top: 20px; z-index: 999;  margin: auto; "  >

                
                        <div fxLayout="row wrap"  fxLayoutAlign="center start"  fxFlex="100" class="mt-5 boxSelection mt-40 mb-40" *ngIf="reviewedProjects.length === 0" >
                                <span class="material-icons no-translate fc-green">done</span> &nbsp;
                                <span class="font  ml-20" fxFlex="80"> No notifications </span>
                        </div>  
            
                        <div fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="100" class="" *ngIf="reviewedProjects.length !== 0" style="width: 300px;" >

                            <div fxLayout="row wrap"  fxLayoutAlign="start start" fxFlex="100"  class="boxSelection" *ngFor="let revProj of reviewedProjects"  >

                                <div fxLayout="column wrap" fxLayoutAlign="start center"   fxFlex="20" >
                                    
                                    <i class="material-symbols-outlined notranslate fc-red" style="font-size: 35px;" *ngIf="revProj.state === 'Reviewed'" >error</i> &nbsp;

                                    <i class="material-symbols-outlined notranslate" style="font-size: 38px; color: green;" *ngIf="revProj.state === 'Accepted' && !revProj.notification ">done</i> &nbsp;
                                </div>
                        
                                <div fxLayout="column wrap" s  fxFlex="80" >
                                    <span class="font"  style=" font-size: 0.9em;"> {{revProj.client.company_name}}  </span> 
                                    <span class="font"  style=" font-size: 0.9em;"> Has asked for a review  </span> 

                                    <span class="font" style="color: blue; cursor: pointer; font-size: 1em;" *ngIf="revProj.state === 'Reviewed'" [routerLink]="['../edit-project/', revProj._id]"  >Manage</span>

                                    <span class="font  mt-5" style="color: blue; cursor: pointer; margin-left: 79px;"  > <b (click)="notification(revProj, 'dontShow')"  *ngIf="revProj.state === 'Reviewed' && !revProj.notification"  >Don´t show again</b></span>

                                    <span class="font ml-10 mt-5" style="color: blue; cursor: pointer; margin-left: 59px;" fxFlex="100" > <b (click)="notification(revProj, '')"  *ngIf="revProj.state === 'Accepted' && !revProj.notification"  >Done</b></span>

                                    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100" style="color: rgb(169, 168, 168);  margin-right: auto;">
                                            <span class="material-symbols-outlined notranslate"  >schedule</span> &nbsp; &nbsp;
                                            <span style=" font-size: 0.8em;" class="font" >2 hours ago </span> 
                                    </div>

                                </div>

                            </div>   
                        </div>   
                </div>

            </mat-menu>

            <div fxLayout="row wrap"  fxLayoutAlign="end center"  fxFlex="100" *ngIf="!donShowNotifications">

                <button  mat-mini-fab color="custom-color"  style="margin-right: 10px; transform: scale(0.8);" [matMenuTriggerFor]="menu" >
                    <mat-icon class="material-symbols-outlined notranslate" [matBadge]="alert" matBadgeColor="warn" [matBadgeHidden]="hidden">notifications</mat-icon>
                </button>
                
                <span class="font" >{{user?.userName}}</span>
            
            </div>

       </div>
   
    </div>
