/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;
       font-family: "Helvetica Neue", sans-serif;
       overflow-x: hidden;
       overflow-y: auto;
      //  background-color: rgb(252, 252, 252);
       background-color: white;
       
}

@font-face {
    font-family:'awesome';
    src: url(assets/font/fontawesome-webfont.ttf);
     
}

@font-face {
  font-family:'poppins-light';
  src: url(assets/font/poppins/Poppins-Light.ttf);
   
}

@font-face {
  font-family:'bebas-nehue';
  src: url(assets/font/Bebas_Neue/BebasNeue-Regular.ttf);
   
}

@font-face {
  font-family:'luckiestGuy';
  src: url(assets/font/Luckiest_Guy/LuckiestGuy-Regular.ttf);
   
}

.background-white{
  background-color: white;
}

.font{
  font-family:'poppins-light';
}

.mat-button-wrapper {
  white-space: nowrap;
}

.fs-2{
  font-size: 0.8em;
}
.fs-3{
  font-size: 1em;
}
.fs-4{
  font-size: 1.2em;
}
.fs-5{
  font-size: 1.4em;
}
.fs-6{
  font-size: 1.6em;
}
.fs-7{
  font-size: 1.8em;
}
.fs-8{
  font-size: 2em;
}
.fs-9{
  font-size: 2.2em;
}
.fs-10{
  font-size: 3em;
}
.f-w{
  color: white;
}
.fc-red{
  color: red;
}
.fc-green{
  color: green;
}


.t-center{
  text-align: center;
}

.t-start{
  text-align: start;
}

.w-100{
  width: 100%;
}

.btnFilled{
  font-family:'poppins-light';
  background-color: red;
  color: white;
}

.border{
  border: 1px solid;
}

.mt-5{
  margin-top: 5px;
}

.mt-10{
  margin-top: 10px;
}

.mt-15{
  margin-top: 15px;
}

.mt-20{
  margin-top: 20px;
}

.mt-25{
  margin-top: 25px;
}

.mt-30{
  margin-top: 30px;
}

.mt-40{
  margin-top: 40px;
}

.mt-50{
  margin-top: 50px;
}

.mt-60{
  margin-top: 60px;
}

.mt-90{
  margin-top: 90px;
}
.mt-130{
  margin-top: 130px;
}

.mb-10{
  margin-bottom: 10px;
}

.mb-20{
  margin-bottom: 20px;
}

.mb-30{
  margin-bottom: 30px;
}

.mb-40{
  margin-bottom: 40px;
}

.mb-50{
  margin-bottom: 50px;
}

.mb-60{
  margin-bottom: 60px;
}

.ml-5{
  margin-left: 5px;
}

.ml-10{
  margin-left: 10px;
}

.ml-20{
  margin-left: 20px;
}

.mr-5{
  margin-right: 5px;
}

.mr-10{
  margin-right: 10px;
}

.mr-20{
  margin-right: 20px;
}

.f-gray{
  color: gray;
}


.pd-5{
  padding: 5px;
}

.pd-10{
  padding: 10px;
}

.pd-20{
  padding: 20px;
}

.pd-30{
  padding: 30px;
}

.cursor{
  cursor: pointer;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

mat-form-field  {
  // font-size: 1em;
  font-family: "poppins-light";
  line-height: 1.3em;

}

.noMatch{
  border-radius: 10px;
  padding: 15px; 
  color: white; 
  background-color: black; 
  margin-bottom: 20px; 
  margin-top: 30px; 
  height: 60px; 
  border-left: 10px solid red; 
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}




.btnMenuClicked, .btnMenu {
  font-size: min(1em, 6vw); /* tamaño de fuente máximo: 16px o 5% del ancho de la pantalla */
  padding: 8px 10px; /* espaciado interno del botón */
  height: 50px !important;
  border-radius: 6px !important;
  font-family: 'poppins-light';
  white-space: nowrap !important;
}

.btnMenuClicked i, .btnMenu i {
  font-size: min(1em, 6vw); /* tamaño del icono máximo: 20px o 6% del ancho de la pantalla */
}

.btnMenuClicked {
  border: 1px solid white;
  background-color: rgb(37, 150, 190);
  color: rgb(255, 255, 255);

  box-shadow: 0px 1px 8px 0px rgba(145,145,145,0.75);
  -webkit-box-shadow: 0px 1px 8px 0px rgba(145,145,145,0.75);
  -moz-box-shadow: 0px 1px 8px 0px rgba(145,145,145,0.75);
}
.btnMenu {
  border: 1px solid rgb(37, 150, 190) !important;
  background-color: white !important;
  color: rgb(37, 150, 190);
  cursor: pointer;

  box-shadow: 0px 1px 8px 0px rgba(145,145,145,0.75);
  -webkit-box-shadow: 0px 1px 8px 0px rgba(145,145,145,0.75);
  -moz-box-shadow: 0px 1px 8px 0px rgba(145,145,145,0.75);

}

.icon{
  width: 40px;
  height: 40px;
  border-radius: 200px;
  border: 1px solid rgb(217, 217, 217);
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 1px 1px 5px 0px rgba(133,133,133,0.29);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(133,133,133,0.29);
  -moz-box-shadow: 1px 1px 5px 0px rgba(133,133,133,0.29);
}

.selection{
  border: 2px solid rgb(188, 210, 202);
  background-color: rgb(188, 210, 202);
  transition: all 0.2s ease 0s;
  margin-top: 2px;
}

.none{
  border: 2px solid rgb(188, 210, 202, 0);
  background-color: rgb(188, 210, 202, 0);
  margin-top: 2px;

}
.animate__animated.animate__fadeIn{
  --animate-duration: 1s;
}

h1.font{
   font-family: "poppins-light";
}

.header{
    height: 60px;
    background-color: rgb(37, 150, 190);
    color: white; 
    padding: 10px; 
    box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75); 
    -webkit-box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75);
    -moz-box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75);
}


.material-icons-outlined {
    font-size: 28px;
    color: rgba(0, 0, 0, 0.349);
    cursor: pointer;

}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 200,
    'opsz' 48
  }




.mat-bottom-sheet-container {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  background-color: white;
  // background-color: transparent;
  max-width: 100%;
}

.whiteframe{
  padding: 7px;
  border-radius: 10px;
  
  box-shadow: 0px 1px 9px -2px rgba(175, 175, 175, 0.85);
  -webkit-box-shadow: 0px 1px 9px -2px rgba(175, 175, 175, 0.85);
  -moz-box-shadow: 0px 1px 9px -2px rgba(175, 175, 175, 0.85);
}


.custom-modalbox-success {
  
  max-width:95vw!important;  /*max-width para el ancho del dialog*/

  .mat-dialog-container{
    padding: 2px!important;
    border-radius: 10px !important;
    margin: 0 auto;
    }
}

.custom-modalbox-transparent {
  
  max-width: 90vw!important;  /*max-width para el ancho del dialog*/
  max-height: 100%!important;


  .mat-dialog-container{
    padding: 0px!important;
    border-radius: 50% !important;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

 .custom-google-register {
  
  max-width: 90vw!important;  /*max-width para el ancho del dialog*/
  height: 40vh!important;
  margin-bottom: 27vh;


  .mat-dialog-container{
    padding: 0px!important;
    border-radius: 10px !important;
    margin: 0 auto;
    }
}

.custom-modalbox-geo {
  
  max-width: 97vw!important;  /*max-width para el ancho del dialog*/
  max-height: 70vh!important;


  .mat-dialog-container{
    padding: 0px!important;
    border-radius: 10px !important;
    margin: 0 auto;
    }
}

.custom-modalbox-payment {
  
  max-width: 97vw!important;  /*max-width para el ancho del dialog*/
  max-height: 70vh!important;


  .mat-dialog-container{
    padding: 0px!important;
    border-radius: 10px !important;
    margin: 0 auto;
    }
}

.custom-modalbox-edit {
  
  max-width: 99vw!important;  /*max-width para el ancho del dialog*/
  max-height: 90vh!important;

  .mat-dialog-container{
    padding: 0px!important;
    border-radius: 10px !important;
    margin: 0 auto;
    }
}

.custom-modalbox-pausePlay {
  
  max-width: 90vw!important;  /*max-width para el ancho del dialog*/
  max-height: 90vh!important;

  .mat-dialog-container{
    padding: 0px!important;
    border-radius: 10px !important;
    margin: 0 auto;
    }
}

.custom-modalbox-detail {
  
  max-width: 90vw!important;  /*max-width para el ancho del dialog*/
  max-height: 90vh!important;

  .mat-dialog-container{
    padding: 0px!important;
    border-radius: 10px !important;
    margin: 0 auto;
    }
}

.custom-modalbox-pauseApp {
  
  max-width: 90vw!important;  /*max-width para el ancho del dialog*/
  max-height: 90vh!important;

  .mat-dialog-container{
    padding: 0px!important;
    border-radius: 10px !important;
    margin: 0 auto;
    }
}

.custom-modalbox-NoMoreComponent {
  
  max-width: 90vw!important;  /*max-width para el ancho del dialog*/
  max-height: 90vh!important;

  .mat-dialog-container{
    padding: 0px!important;
    border-radius: 10px !important;
    margin: 0 auto;
    }
}

.custom-modalbox-EditArticleComponent {
  
  max-width: 95vw!important;  /*max-width para el ancho del dialog*/
  max-height: 90vh!important;

  .mat-dialog-container{
    padding: 0px!important;
    border-radius: 10px !important;
    margin: 0 auto;
    }
}

.custom-modalbox-message {
  
  max-width: 90vw!important;  /*max-width para el ancho del dialog*/
  max-height: 98vh!important;

  .mat-dialog-container{
    padding: 0px!important;
    border-radius: 10px !important;
    margin: 0 auto;
    }
}

.custom-modalbox-hour {
  
  max-width: 99vw!important;  /*max-width para el ancho del dialog*/
  max-height: 100vh!important;
  
  .mat-dialog-container{
    padding: 0px!important;
    margin: 0 auto;
  }
}

.custom-modalbox-maintenance {
  
  max-width: 97vw!important;  /*max-width para el ancho del dialog*/
  max-height: 97%!important;

  .mat-dialog-container{
  padding: 0px!important;
  border-radius: 10px !important;
  margin: 0 auto;
  }
}

// start phone
.header{
  // height: 100px;
  background-color: rgb(37, 150, 190);
  color: white; 
  padding: 10px; 
  box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75); 
  -webkit-box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75);
  -moz-box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75);
}



// end phone



//Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 800px) {
  .btnMenuClicked, .btnMenu {
    font-size: min(1em, 6vw); /* tamaño de fuente máximo: 16px o 5% del ancho de la pantalla */
  }
  
  .btnMenuClicked i, .btnMenu i {
    font-size: min(1em, 6vw); /* tamaño del icono máximo: 20px o 6% del ancho de la pantalla */
  }

  .header{
    height: 60px;
}

mat-form-field  {
  font-size: 1em !important;


}



}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
