<div fxLayout="row wrap" fxLayoutAlign="center start" fxFlex="100" class="pd-10 ">
  
    <button  mat-mini-fab  style="background-color: green; height: 80px; width: 80px; margin-top: 15px;">
        <mat-icon class="material-symbols-outlined notranslate" style="transform: scale(2);"> star_rate </mat-icon>
   </button>

    <div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100" class="pd-10 mt-40" >
        <span class="font" fxFlex="100" style="line-height: 1.2em; text-align: center; font-size: 1.3em;"> <b>Thank you for accepting our work proposal!! </b> </span>        
        <span class="font fs-3" fxFlex="100" style="margin-top: 15px; text-align: center; color: green; font-weight: bold;"> We will contact you soon.  </span>        
    </div>

    <div  fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="100" class="mb-20">
        <button mat-raised-button  [ngClass]="confirm ? 'btnMenuClicked':'btnMenu'" fxFlex="79" (click)="continue()" style="margin-top: 15px;">
            <i class="material-symbols-outlined notranslate" style="transform: scale(1.3);">login</i> 
            &nbsp; Continue
        </button>
    </div>


</div>


