

<div fxLayout="row wrap" fxLayoutAlign="center start"  style="background-color: rgb(233, 233, 233); padding: 20px; height: 100%;"   >

   <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex.xs="100" fxFlex.sm="100" fxFlex="75"   >


            <div fxLayout="row wrap"  fxLayoutAlign="space-between center" fxFlex="100" style="margin-top: 30px;"  >

                <!--  personal Info -->
            <div fxLayout="row wrap"  fxLayoutAlign="center center"  fxFlex="100" class="whiteframe" style="background-color: white; padding: 25px;" >

                <div fxLayout="row wrap" fxLayoutAlign="center center"  fxFlex="100"  style="margin-left: 20px; " >

                    <div fxLayout="row wrap" fxLayoutAlign="end center"  fxFlex="100"  >
                            <div class="icon mr-10"  >
                                <span class="material-symbols-outlined notranslate cursor" style="color: rgb(255, 176, 57);" (click)="edit('name', employee)"> edit </span>
                            </div>
                    </div>

                    <span class="material-symbols-outlined notranslate" style="font-size: 180px; color: rgb(19, 123, 175);"> account_circle </span> 

                    <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" style="margin-left: 20px;" >
                        <span class="font " fxFlex="100" style="font-size: 1.5em; text-align: center; font-weight: bolder;" >{{employee.name  | capitalizeFirstLetter}}</span>

                        <span class="font " fxFlex="100" style="font-size: 1.2em; text-align: center; color: gray; margin-top: 5px;" >{{employee.contact_info.headline  | capitalizeFirstLetter}}</span>
                    </div>
                </div>
        

                <div fxLayout="row wrap"  fxLayoutAlign="space-between center" fxFlex="100" style="background-color: rgb(37, 150, 190); height: 60px; border-radius: 5px; padding: 15px; margin-top: 30px;">

                    <div fxLayout="row wrap"  fxLayoutAlign="start center" fxFlex="80" >
                        <span class="material-symbols-outlined notranslate" style=" transform: scale(1.2); color: white; "> description </span> &nbsp; &nbsp;&nbsp;
                        <span class="font" style="color: white;">Personal Information</span>
                    </div>

                    <div class="icon"   >
                        <span class="material-symbols-outlined notranslate cursor" style="color: rgb(255, 176, 57); transform: scale(0.85);" (click)="edit('info', employee)"> edit </span>
                    </div>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="95" class="font" style="margin-top: 20px; ">


                    <!-- [ngStyle]="(clicked) ? {'transform': 'translateX(100%)'} : {'transform': 'translateY(0px)'} "  -->
                    <span class="font"  fxFlex.xs="100" fxFlex="45" [ngStyle]="phone ? {'font-size': '1em'} : {'font-size': '1.2em'}">
                        <b style="font-size: 0.9em;">Address:</b>&nbsp; &nbsp;&nbsp; {{employee.contact_info.street_address | capitalizeFirstLetter}}
                    </span>
                    <span class="font"  fxFlex.xs="100" fxFlex="45" [ngStyle]="phone ? {'font-size': '1em', 'margin-top':'20px'} : {'font-size': '1.2em'}" style="-align: start;">
                        <b s>City:</b>&nbsp; &nbsp;&nbsp; {{employee.contact_info.city | capitalizeFirstLetter}}
                    </span>
                    
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="95" class="font" style="margin-top: 20px;">
                    <span class="font" fxFlex="45" [ngStyle]="phone ? {'font-size': '1em'} : {'font-size': '1.2em'}">
                        <b style="font-size: 0.9em;">State:</b>&nbsp; &nbsp;&nbsp; {{employee.contact_info.state | capitalizeFirstLetter}}
                    </span>
                    <span class="font" fxFlex="45" [ngStyle]="phone ? {'font-size': '01em'} : {'font-size': '1.2em'}"style="  text-align: start; ">
                        <b style="font-size: 0.9em;">Country:</b>&nbsp; &nbsp;&nbsp;{{employee.contact_info.country | capitalizeFirstLetter}}
                    </span>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="95" class="font" style="margin-top: 20px;">
                    <span class="font" fxFlex.xs="100" fxFlex="45" [ngStyle]="phone ? {'font-size': '1em'} : {'font-size': '1.2em'}">
                        <b style="font-size: 0.9em;">Email:</b>&nbsp; &nbsp;&nbsp; {{employee.contact_info.email }}
                    </span>
                    <span class="font" fxFlex.xs="100" fxFlex="45" [ngStyle]="phone ? {'font-size': '1em' , 'margin-top':'20px'} : {'font-size': '1.2em'}" style="  text-align: start;">
                        <b style="font-size: 0.9em;">Phone:</b>&nbsp; &nbsp;&nbsp;{{employee.contact_info.phone }}
                    </span>
                </div>
                    
            </div>

            <!-- skills -->
            <div fxLayout="row wrap"  fxLayoutAlign="center center"  fxFlex="100" class="whiteframe" style="background-color: white; padding: 25px; margin-top: 7px;">

                <div fxLayout="row wrap"  fxLayoutAlign="space-between center" fxFlex="100" style="background-color: rgb(37, 150, 190); height: 60px; border-radius: 5px; padding: 15px; margin-top: 30px;">

                    <div fxLayout="row wrap"  fxLayoutAlign="start center" fxFlex="80" >
                        <span class="material-symbols-outlined notranslate" style=" transform: scale(1.2); color: white; "> description </span> &nbsp; &nbsp;&nbsp;
                        <span class="font" style="color: white;">Skills</span>
                    </div>
                    
                     <div fxLayout="row wrap"  fxLayoutAlign="end center" fxFlex="20" >

                        <div class="icon mr-10"   >
                            <span class="material-symbols-outlined notranslate cursor" style="color: rgb(255, 176, 57); transform: scale(0.85);" (click)="edit('skill', employee)"> edit </span>
                        </div>
                        <div class="icon" style="margin-right: 5px;"  >
                            <span class="material-symbols-outlined notranslate cursor" style="color: rgb(255, 176, 57);" (click)="edit('add', employee)"> add </span>
                        </div>
                    </div>
                </div>

                        <div fxLayout="row wrap"  fxLayoutAlign="center center"  fxFlex="100"  style="padding: 25px; margin-top: 7px;">


                            <button mat-stroked-button *ngFor="let skill of employee.skillList" style="border: 1px solid rgb(37, 150, 190); min-width: 100px; margin-left: 10px; ">
                                {{skill}} </button>
                        </div>        
                        

        </div>
   
   </div>
</div>



<div *ngIf="isLoading" style="margin-top: 30px;" class="loading-overlay">
    <mat-spinner diameter="80"></mat-spinner>
</div>
  

